<h1>Angular Assignment1 Implementing Routing</h1>
<nav>
  <ul>
    <li>
     <button class="A"><a routerLink="/first-component" routerLinkActive="active">ADMIN</a></button>
    </li>
    <li>
      <button class="B">  <a routerLink="/menu-component" routerLinkActive="active">MENU</a></button>
    </li>
    <li>
      <button class="C">  <a routerLink="/restaurant-component" routerLinkActive="active">RESTAURANT</a></button>
    </li>
    <li>
      <button class="D"> <a routerLink="/second-component" routerLinkActive="active">USER</a></button>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>