<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   
  <!--  using List
   <bean id ="q1" class ="com.madhu.springAssignment2.Question">
   <property name="questionId" value="1"></property>
   <property name="question" value="What is the use of spring?"></property>
   <property name="answers">
   	<list>
   	<value>To manage objects life cycle</value>
   	<value>To minimize the complexity of the application</value>
   	
   	</list>
   
   
   </property>
   
   </bean>  
   -->
   <!--  Using Map
   <bean id="q2" class="com.madhu.springAssignment2.Question">
   <property name="questionId" value="1"></property>
   <property name="question" value="What is Spring?"></property>
   <property name="answers">
   <map>
   <entry key="To manage objects life cycle" value="Madhu"></entry>
    <entry key="To minimize the complexity of the application" value="Vunnam"></entry>
   </map>
   
   </property>
   </bean>
   -->
   
   <bean id="q3" class ="com.madhu.springAssignment2.Question">
   <property name="questionId" value="1"></property>
   <property name="question" value="What is Spring?"></property>
   <property name="answers">
 <set>
 <value>To manage objects life cycle</value>
 <value>To minimize the complexity of the application</value>
 </set>
   </property>
   </bean>
   
   
   
   
   
   
   
   </beans>